@model UpdateProductVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Product</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <img style="width=130px;height=130px" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.Url" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MainPhoto">Main Image</label>
                                <input asp-for="MainPhoto" class="form-control" placeholder="MainPhoto" accept="image/*">
                                <span class="text-danger" asp-validation-for="MainPhoto"></span>
                            </div>
                            <div class="form-group">
                                <img style="width=1300px;height=130px" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false)?.Url" />
                            </div>
                            <div class="form-group">
                                <label asp-for="HoverPhoto">Hover Image</label>
                                <input asp-for="HoverPhoto" class="form-control" placeholder="HoverPhoto" accept="image/*">
                                <span class="text-danger" asp-validation-for="HoverPhoto"></span>
                            </div>
                            <div class="form-group d-flex">
                                @foreach (var image in Model.ProductImages.Where(p=>p.IsPrimary==null))
                                {
                                    <div class="position-relative">
                                        <img style="width=110px;height=110px" src="~/assets/images/website-images/@image.Url" />
                                        <input asp-for="ImageIds" type="hidden" value="@image.Id">
                                        <button type="button" style="right:5px;top:5px;" class="cus-delete btn btn-danger position-absolute">X</button>
                                    </div>     
                                    
                                }
                            </div>
                            <div class="form-group">
                                <label asp-for="Photos">Images</label>
                                <input asp-for="Photos" class="form-control" placeholder="Photos" accept="image/*">
                                <span class="text-danger" asp-validation-for="Photos"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SKU">SKU</label>
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span class="text-danger" asp-validation-for="SKU"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId">CategoryId</label>
                                <select asp-for="CategoryId" class="form-control" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TagIds">TagId</label>
                                <select asp-for="TagIds" class="form-control" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="TagIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ColorIds">ColorId</label>
                                <select asp-for="ColorIds" class="form-control" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="ColorIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SizeIds">SizeId</label>
                                <select asp-for="SizeIds" class="form-control" asp-items="new SelectList(Model.Sizes,nameof(Size.Id),nameof(Size.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="SizeIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section DeleteImage{
<script>

    var btns=document.querySelectorAll(".cus-delete")

    btns.forEach(b => {
        b.addEventListener("click",function(){
            b.parentElement.remove();
        })
    })

</script>
}