@model Slide
<div class="card" style="width: 18rem;">
    <img src="~/assets/images/slider/@Model.Image" class="card-img-top" alt="Product Image">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Title</li>
        <li class="list-group-item">@Model.Description</li>
    </ul>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
    </div>

</div>